*{
  font-family: PT Sans Estrecho
  sans-serif ;
}

.App {
  display: flex;
  flex-wrap: wrap;
  background-image: url("./Imagen/fondohome.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 1080px;
}
