.container{
  display: flex;
  width: 250px;
  height: 350px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0.5px 0.5px 50px 5px rgba(113, 98, 11, 0.566);
  margin: 1rem;
  border-radius: 10px;
  padding: 1rem;
  color: rgb(0, 0, 0);
 
}

.container:hover{
  transform: translateX(-10px);
  transform: translateY(-10px);
  transition-duration: 500ms;
}


.title{
  justify-content: center;
  text-decoration-line: none;
}

.image{
  justify-content: center;

}

.divtype{
display: flex;
justify-content: space-between;
text-align: center;
}

.type{

  padding: 10px;
}
