.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px;
  padding: 0;
  width: 70vh;
  height: 90vh;
  border-radius: 20px;
  box-shadow: 0.7px 0.7px 100px 10px rgba(255, 217, 3, 0.566);
}
.containertitle {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
}
.btnback {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-top: 20px;
  align-items: center;
  font-size: 1rem;
  justify-content: center;
  border-radius: 5px;
  height: 2rem;
  width: 5rem;
}
.create {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  font-size: 2rem;
}
.containerform {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contname {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 10px;

}
.name {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: 10px;

}
.inputname {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;

}
.contimg {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 10px;
}
.img {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: 10px;
}
.inputimg {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
}
.conttype {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 10px;
}
.type {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: 10px;
}

.select {
  width: 68%;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  padding: 10px;
  border-radius: 10px;
}
.input{
  border-radius: 5px;
  width: 70px;
  height: 35px ;
  align-items: center;
}

.conthp {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 10px;
}
.hp {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: 10px;
}
.inputhp {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  margin-left: 30px;
}
.contattak {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 10px;
}
.attak {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: 10px;
}
.inputattak {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
}
.contdef {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 10px;
}
.def {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: 10px;
}
.inputdef {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
}
.contspeed {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 10px;
}
.speed {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: 10px;
}
.inputspeed {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
}
.contheig {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 10px;
}
.heig {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: 10px;
}
.inputheig {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
}
.contwei {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 10px;
}
.wei {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: 10px;
}
.inputwei {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
}
.btncreate {
  font-size: 1.5rem;
  border-radius: 5px;
  margin-top:50px;
  margin-left: 70px;
}
