.container {
  background-image: url("../Imagen/landingg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  min-height: 982px;
}
.contimage {
  /* position: absolute;
  left: 70%;
  bottom: -5px; */
  /* align-content: flex-end ; */
  display: flex;
  justify-content: flex-end;
  padding-right: 200px;
  padding-top: 70px;
}
.enter {
  width: 20rem;
  height: 10rem;
  /* position: absolute;
  top: -80px;
  left: 70px; */
}
.contbtn {
  display: flex;
  justify-content: end;
  padding-right: 270px;
  padding-top: 100px;
}
.btn {
  width: 10rem;
  height: 3rem;
  font-size: 2rem;
  border-radius: 20px;
}
.contgen {
  display: flex;
  justify-content: end;
  padding-right: 250px;
}
.gen {
  width: 70vh;
  height: 50vh;
}
