.progress-loader {
  top: 10%;
  left: 53%;
  position: absolute;
  transform: translate(-50%, -50%);
}
/* nos emueve */

.progress-loader {
  width: 200px;
  background: rgba(213, 244, 0, 0.253);
  height: 5px;
  border-radius: 10px;
}
/* se mueve  */
.progress { 
  content: '';
  width: 1px;
  height: 3px;
  border-radius: 7px;
  background: rgb(213, 244, 39);
  transition: 0.5s;
  animation: loading1274 2s ease infinite;
}

@keyframes loading1274 {
  0% {
    width: 0%;
  }

  10% {
    width: 10%;
  }

  50% {
    width: 40%;
  }

  60% {
    width: 60%;
  }

  100% {
    width: 100%;
  }
}
