.img{
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url("../Imagen/notfound.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 982px;
}
.btn{
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  margin-top: 80vh;

}
