.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 30px;
  list-style-type: none;
}

.btnpre{
margin: 5px;
border-radius: 5px;
width: 4rem;
height: 2rem;
font-size: 20px;
text-align: center;
}
.btnpre:hover{
  transform: translateX(-5px);
  transition-duration: 500ms;
}

.number{
  display: flex;
}


.btnnum{
  width: 2rem;
  height: 2rem;
  margin: 5px;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
}
.btnnum:hover{
  transform: translateX(-5px);
  transform: translateY(-5px);
  transition-duration: 500ms;
}
.btnnext{
  margin: 5px;
  border-radius: 5px;
  width: 4rem;
  height: 2rem;
  font-size: 20px;
  text-align: center;
}
.btnnext:hover{
  transform: translateX(5px);
  transition-duration: 500ms;
}
